@layer themes, reset, base, component;

@layer themes {
  :root {
    --size-xs: 0.5em;
    --size-sm: 1em;
    --size-md: 2em;
    --size-lg: 3em;
    --size-xl: 4em;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  body {
    min-height: 100vh;
    min-height: 100svh;
  }
  a,
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}

@layer component {

  /* Desktop Setup */
  button[type="submit"], button[type="button"]{
    padding-inline: calc(var(--size-sm) * 2.5); /*40 px*/
    padding-block: calc(var(--size-sm) * 1.25); /*20 px*/
  }

  input[type="radio"] {
    border: 0px;
    width: calc(var(--size-sm) * 1.25); /*20 px*/
    height: calc(var(--size-sm) * 1.25);
    margin: 0;
  }

  input[type="text"]{
    height: calc(var(--size-md) * 1.125); /*36 px*/
    padding: var(--size-sm);
  }

  /* Identification and Enumeration */
  .category-choice__inputField{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--size-sm);
  }

  .category-choice__inputContainer:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-xs);
  }

  /*Multiple-choice and true or false*/
  .category-choice__option {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
    padding: var(--size-xs) calc(var(--size-xs) * 1.5); /*16px 12px*/
    cursor: pointer;
  }

  .category-choice__label {
    cursor: pointer;
    flex: 1;
  }

}
