@layer themes, reset, base, component;

@layer themes {
  :root {
    --size-xs: 0.5em;
    --size-sm: 1em;
    --size-md: 2em;
    --size-lg: 3em;
    --size-xl: 4em;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  body {
    min-height: 100vh;
    min-height: 100svh;
  }
  a,
  button {
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}

@layer component {
  /* Desktop Setup */
  button[type="submit"],
  button[type="button"] {
    padding-inline: calc(var(--size-sm) * 2.5); /*40 px*/
    padding-block: calc(var(--size-sm) * 1.25); /*20 px*/
  }
}
